.root {
  flex-basis: 60%;

  .title {
    margin-bottom: 20px;
  }

  .paper {
    padding: 20px;
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  hr {
    &:last-child {
      display: none;
    }
  }
}
